/* You DID it!
 * 
 * This file is part of You DID it!
 * 
 * You DID it! is licenced under public domain and or CC-0
 * See http://creativecommons.org/publicdomain/zero/1.0/
 * 
 * You DID it! uses jQuery, licenced by the jQuery Fundation
 * under the MIT Licence (see https://jquery.org/license/)
 * 
 * Please notice that only the game engine is in public domain.
 * Game data (pictures, stories, texts and more) are subject to their
 * own licence which may differ.
 */

/* This is the core structure css file. It defines the general structure
 * of the page and should be shared among games without editing.
 */

html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#error-screen {
	display: none;
}

#intro-screen {
	display: none;
}

#game-screen {
	display: block;
}

#game-over-screen {
	display: none;
}

#main {
	overflow: auto;
}

#picture {
	float: left;
}
#picture a {
	display: block;
	padding-right: 1ex;
	line-height: 0px;
}

#map {
	float: right;
	height: 100%;
	display: table;
}
#map img {
	display: table-cell;
	vertical-align: middle;
	padding-left: 1ex;
}

#result {
	right: 20%;
	top: 10ex;
	width: 30%;
	position: absolute;
}
.result-hidden {
	display: none;
}
.result-shown {
	display: block;
}

#action-bar {
	width: 100%;
	height: 20%;
}

#notification {
	width: 50%;
	margin-left: 50%;
}

#items {
	float: left;
	width: 50%;
	height: 100%;
}

#actions {
	width: 50%;
	margin-left: 50%;
}

#inventory {
	display: inline-block;
	width: 48%;
	vertical-align: top;
}
#objects {
	display: inline-block;
	width: 48%;
	vertical-align: top;
}

#disclaimer {
	text-align: right;
	font-style: italic;
	font-size: xx-small;
}
#disclaimer p {
	margin-right: 1ex;
	margin-top: 0.2ex;
	margin-bottom: 0px;
}